<h1>画像の新規登録ページ</h1>

<%= form_with(model: @document, local: true) do |f| %>
    <div class="form-group">
    　<%= f.label 'テキストで読み取りたい画像をアップロードしてね' %>
      <br><%= f.file_field :image, class: 'form_control' %>
    </div>
    <%= f.submit 'Upload & Image to text', class: 'btn btn-primary' %>
<% end %>
