<div class="text-center">
  <h1>画像の登録</h1>
</div>


<%= form_with(model: @document, local: true) do |f| %>

<div class="row">
  <div class="col-sm-6 offset-sm-3 ">
    <div class="form-group'>
    　<%= f.label 'テキストで読み取りたい画像をアップロードしよう' %>
      <br><%= f.file_field :image, class: 'form_control block' %>
      </div>
      <br><%= f.submit 'Upload & Image to text', class: 'btn btn-primary btn-block' %>
    
  </div>
</div>  
<% end %>
